<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Enterprise Cloude - Easay Cloud</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <script src="/script.15ea2a5d.js"></script>
<link rel="stylesheet" href="/script.15ea2a5d.css"></head>

<body>
    <div class="wrapper place-server">
        <!-- menu -->
        <div class="menu row">
            <nav class="navbar navbar-light fixed-top navbar-expand-lg">
                <a class="navbar-brand" href="#">LOGO</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">TRANG CHỦ
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                CÔNG NGHỆ
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Tong quan</a>
                                <a class="dropdown-item" href="#">Chi tiết</a>
                                <a class="dropdown-item" href="#">Chi tiết</a>
                                <a class="dropdown-item" href="#">Chi tiết</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                GIẢI PHÁP
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/giaiphap.html">Tong quan</a>
                                <a class="dropdown-item" href="#">chi tiết</a>
                                <a class="dropdown-item" href="#">chi tiết</a>
                                <a class="dropdown-item" href="#">chi tiết</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link pr-5" href="#">LIỆN HỆ</a>
                        </li>

                    </ul>
                </div>
            </nav>
        </div>
        <!-- /menu -->
        <!-- section1 -->
        <section class="section1 row m-0">
            <div class="text-center col-12 logo">
                <h1>Chỗ đặt máy chủ (colo)
                    <i class="fas fa-globe-africa"></i>
                </h1>
                <h2>Chúng tôi tự hào mang đến cho khách hàng dịch vụ chỗ đặt máy chủ với sự ổn định với tốc độ kết nối cao nhất!</h2>
            </div>
        </section>
        <!-- /section1 -->
        <!-- section2 -->
        <section class="section2 container feature">
            <div class="col-12">
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-1-tab" data-toggle="pill" href="#pills-1" role="tab" aria-controls="pills-1" aria-selected="true">Chỗ đặt máy chủ riêng lẻ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-2-tab" data-toggle="pill" href="#pills-2" role="tab" aria-controls="pills-2" aria-selected="false">Chỗ đặt máy chủ theo rack</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-3-tab" data-toggle="pill" href="#pills-3" role="tab" aria-controls="pills-3" aria-selected="false">Dịch vụ cộng thêm</a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-1" role="tabpanel" aria-labelledby="pills-1-tab">
                        <div class="row mt-3">
                            <!-- green -->
                            <div class="col-12 col-sm-3">
                                <ul class="list-group text-center">
                                    <li class="list-group-item text-center">
                                        <h5>Chỗ Đặt Máy Chủ</h5>
                                        <h3>COLO</h3>
                                        <small>Chu kỳ thanh toán: 3 tháng</small>
                                    </li>
                                    <li class="list-group-item">Trung Tâm Dữ Liệu</li>
                                    <li class="list-group-item">Trung tâm dữ liệu: VDC / Viettel</li>
                                    <li class="list-group-item">Dung lượng lưu trữ: 500 GB</li>
                                    <li class="list-group-item">Tài khoản người dùng: Không giới hạn*</li>
                                    <li class="list-group-item">Băng thông mạng: 100Mbps</li>
                                    <li class="list-group-item">Tích hợp Web/Mail: Không</li>
                                    <li class="list-group-item">Thương hiệu doanh nghiệp: Không</li>
                                    <li class="list-group-item">Sao lưu dữ liệu: Hàng tháng</li>
                                    <li class="list-group-item">Hỗ trợ kỹ thuật: 24/7</li>
                                </ul>
                            </div>
                            <!-- /green -->
                            <!-- green -->
                            <div class="col-12 col-sm-3">
                                <ul class="list-group green text-center">
                                    <li class="list-group-item active text-center">
                                        <h5>Green Edition</h5>
                                        <h3>2.500.000 đồng</h3>
                                        <small>VNĐ / tháng</small>
                                    </li>
                                    <li class="list-group-item">Máy chủ: Máy chủ VPS</li>
                                    <li class="list-group-item">Trung tâm dữ liệu: VDC / Viettel</li>
                                    <li class="list-group-item">Dung lượng lưu trữ: 500 GB</li>
                                    <li class="list-group-item">Tài khoản người dùng: Không giới hạn*</li>
                                    <li class="list-group-item">Băng thông mạng: 100Mbps</li>
                                    <li class="list-group-item">Tích hợp Web/Mail: Không</li>
                                    <li class="list-group-item">Thương hiệu doanh nghiệp: Không</li>
                                    <li class="list-group-item">Sao lưu dữ liệu: Hàng tháng</li>
                                    <li class="list-group-item">Hỗ trợ kỹ thuật: 24/7</li>
                                    <li class="list-group-item">
                                        <a href="" class="btn-info-custom">Liên hệ</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- /green -->
                            <!-- green -->
                            <div class="col-12 col-sm-3">
                                <ul class="list-group orange text-center">
                                    <li class="list-group-item active text-center">
                                        <h5>Green Edition</h5>
                                        <h3>2.500.000 đồng</h3>
                                        <small>VNĐ / tháng</small>
                                    </li>
                                    <li class="list-group-item">Máy chủ: Máy chủ VPS</li>
                                    <li class="list-group-item">Trung tâm dữ liệu: VDC / Viettel</li>
                                    <li class="list-group-item">Dung lượng lưu trữ: 500 GB</li>
                                    <li class="list-group-item">Tài khoản người dùng: Không giới hạn*</li>
                                    <li class="list-group-item">Băng thông mạng: 100Mbps</li>
                                    <li class="list-group-item">Tích hợp Web/Mail: Không</li>
                                    <li class="list-group-item">Thương hiệu doanh nghiệp: Không</li>
                                    <li class="list-group-item">Sao lưu dữ liệu: Hàng tháng</li>
                                    <li class="list-group-item">Hỗ trợ kỹ thuật: 24/7</li>
                                    <li class="list-group-item">
                                        <a href="" class="btn-info-custom">Liên hệ</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- /green -->
                            <!-- green -->
                            <div class="col-12 col-sm-3">
                                <ul class="list-group blue text-center">
                                    <li class="list-group-item active text-center">
                                        <h5>Green Edition</h5>
                                        <h3>2.500.000 đồng</h3>
                                        <small>VNĐ / tháng</small>
                                    </li>
                                    <li class="list-group-item">Máy chủ: Máy chủ VPS</li>
                                    <li class="list-group-item">Trung tâm dữ liệu: VDC / Viettel</li>
                                    <li class="list-group-item">Dung lượng lưu trữ: 500 GB</li>
                                    <li class="list-group-item">Tài khoản người dùng: Không giới hạn*</li>
                                    <li class="list-group-item">Băng thông mạng: 100Mbps</li>
                                    <li class="list-group-item">Tích hợp Web/Mail: Không</li>
                                    <li class="list-group-item">Thương hiệu doanh nghiệp: Không</li>
                                    <li class="list-group-item">Sao lưu dữ liệu: Hàng tháng</li>
                                    <li class="list-group-item">Hỗ trợ kỹ thuật: 24/7</li>
                                    <li class="list-group-item">
                                        <a href="" class="btn-info-custom">Liên hệ</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- /green -->
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-2" role="tabpanel" aria-labelledby="pills-2-tab">
                        <div class="row mt-3">
                            <!-- green -->
                            <div class="col-12 col-sm-3">
                                <ul class="list-group text-center">
                                    <li class="list-group-item text-center">
                                        <h5>Chỗ Đặt Máy Chủ</h5>
                                        <h3>COLO</h3>
                                        <small>Chu kỳ thanh toán: 3 tháng</small>
                                    </li>
                                    <li class="list-group-item">Trung Tâm Dữ Liệu</li>
                                    <li class="list-group-item">Trung tâm dữ liệu: VDC / Viettel</li>
                                    <li class="list-group-item">Dung lượng lưu trữ: 500 GB</li>
                                    <li class="list-group-item">Tài khoản người dùng: Không giới hạn*</li>
                                    <li class="list-group-item">Băng thông mạng: 100Mbps</li>
                                    <li class="list-group-item">Tích hợp Web/Mail: Không</li>
                                    <li class="list-group-item">Thương hiệu doanh nghiệp: Không</li>
                                    <li class="list-group-item">Sao lưu dữ liệu: Hàng tháng</li>
                                    <li class="list-group-item">Hỗ trợ kỹ thuật: 24/7</li>
                                </ul>
                            </div>
                            <!-- /green -->
                            <!-- green -->
                            <div class="col-12 col-sm-3">
                                <ul class="list-group green text-center">
                                    <li class="list-group-item active text-center">
                                        <h5>Green Edition</h5>
                                        <h3>2.500.000 đồng</h3>
                                        <small>VNĐ / tháng</small>
                                    </li>
                                    <li class="list-group-item">Máy chủ: Máy chủ VPS</li>
                                    <li class="list-group-item">Trung tâm dữ liệu: VDC / Viettel</li>
                                    <li class="list-group-item">Dung lượng lưu trữ: 500 GB</li>
                                    <li class="list-group-item">Tài khoản người dùng: Không giới hạn*</li>
                                    <li class="list-group-item">Băng thông mạng: 100Mbps</li>
                                    <li class="list-group-item">Tích hợp Web/Mail: Không</li>
                                    <li class="list-group-item">Thương hiệu doanh nghiệp: Không</li>
                                    <li class="list-group-item">Sao lưu dữ liệu: Hàng tháng</li>
                                    <li class="list-group-item">Hỗ trợ kỹ thuật: 24/7</li>
                                    <li class="list-group-item">
                                        <a href="" class="btn-info-custom">Liên hệ</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- /green -->
                            <!-- green -->
                            <div class="col-12 col-sm-3">
                                <ul class="list-group orange text-center">
                                    <li class="list-group-item active text-center">
                                        <h5>Green Edition</h5>
                                        <h3>2.500.000 đồng</h3>
                                        <small>VNĐ / tháng</small>
                                    </li>
                                    <li class="list-group-item">Máy chủ: Máy chủ VPS</li>
                                    <li class="list-group-item">Trung tâm dữ liệu: VDC / Viettel</li>
                                    <li class="list-group-item">Dung lượng lưu trữ: 500 GB</li>
                                    <li class="list-group-item">Tài khoản người dùng: Không giới hạn*</li>
                                    <li class="list-group-item">Băng thông mạng: 100Mbps</li>
                                    <li class="list-group-item">Tích hợp Web/Mail: Không</li>
                                    <li class="list-group-item">Thương hiệu doanh nghiệp: Không</li>
                                    <li class="list-group-item">Sao lưu dữ liệu: Hàng tháng</li>
                                    <li class="list-group-item">Hỗ trợ kỹ thuật: 24/7</li>
                                    <li class="list-group-item">
                                        <a href="" class="btn-info-custom">Liên hệ</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- /green -->
                            <!-- green -->
                            <div class="col-12 col-sm-3">
                                <ul class="list-group blue text-center">
                                    <li class="list-group-item active text-center">
                                        <h5>Green Edition</h5>
                                        <h3>2.500.000 đồng</h3>
                                        <small>VNĐ / tháng</small>
                                    </li>
                                    <li class="list-group-item">Máy chủ: Máy chủ VPS</li>
                                    <li class="list-group-item">Trung tâm dữ liệu: VDC / Viettel</li>
                                    <li class="list-group-item">Dung lượng lưu trữ: 500 GB</li>
                                    <li class="list-group-item">Tài khoản người dùng: Không giới hạn*</li>
                                    <li class="list-group-item">Băng thông mạng: 100Mbps</li>
                                    <li class="list-group-item">Tích hợp Web/Mail: Không</li>
                                    <li class="list-group-item">Thương hiệu doanh nghiệp: Không</li>
                                    <li class="list-group-item">Sao lưu dữ liệu: Hàng tháng</li>
                                    <li class="list-group-item">Hỗ trợ kỹ thuật: 24/7</li>
                                    <li class="list-group-item">
                                        <a href="" class="btn-info-custom">Liên hệ</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- /green -->
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-3" role="tabpanel" aria-labelledby="pills-3-tab">
                        <div class="row mt-4">
                            <table class="table table-dark">
                                <thead>
                                    <tr>
                                        <th scope="col">Dịch vụ cộng thêm</th>
                                        <th scope="col"> Cước phí / Tháng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Tăng băng thông thêm 100 Mbps (Quốc tế: 5 Mbps)</td>
                                        <td>	2.400.000 VNĐ</td>
                                    </tr>
                                    <tr>
                                        <td>Tăng băng thông thêm 100 Mbps (Quốc tế: 5 Mbps)</td>
                                        <td>	2.400.000 VNĐ</td>
                                    </tr>
                                    <tr>
                                        <td>Tăng băng thông thêm 100 Mbps (Quốc tế: 5 Mbps)</td>
                                        <td>	2.400.000 VNĐ</td>
                                    </tr>
                                    <tr>
                                        <td>Tăng băng thông thêm 100 Mbps (Quốc tế: 5 Mbps)</td>
                                        <td>	2.400.000 VNĐ</td>
                                    </tr>
                                    <tr>
                                        <td>Tăng băng thông thêm 100 Mbps (Quốc tế: 5 Mbps)</td>
                                        <td>	2.400.000 VNĐ</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /section2-->

        <!-- footer -->
        <div class="footer col-12">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 text-center column">
                    <h4>Giới thiệu</h4>
                    <p>Seafile.VN là sản phẩm lưu trữ đám mây thế hệ mới được Turbo Solutions tích hợp triển khai, dùng đồng
                        bộ và chia sẻ dữ liệu; hỗ trợ tương tác, làm việc nhóm; bảo vệ tính riêng tư đến từng người dùng.</p>
                </div>
                <div class="col-12 col-sm-6 col-md-4 text-center column">
                    <h4>Liên kết</h4>
                    <div col-12="">
                        <p>
                            <a href="">Giải pháp lưu trữ đám mây</a>
                        </p>
                        <p>
                            <a href="">Giải pháp lưu trữ đám mây</a>
                        </p>
                        <p>
                            <a href="">Giải pháp lưu trữ đám mây</a>
                        </p>
                        <p>
                            <a href="">Giải pháp lưu trữ đám mây</a>
                        </p>
                        <p>
                            <a href="">Giải pháp lưu trữ đám mây</a>
                        </p>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 text-center column">
                    <h4>Turbo sulotions</h4>
                    <div class="col-12">
                        <p>
                            <i class="fas fa-home"></i> 1237/17 Hoàng Sa, Phường 5, Quận Tân Bình, TP.HCM</p>
                        <p>
                            <i class="fas fa-phone-square"></i> 0902.636.836</p>
                        <p>
                            <i class="fas fa-envelope"></i> info@turbo.vn</p>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="row text-center copyright mt-4">
                <div class="col-12">
                    <p>Copyright&copy; EnterpriseCloud</p>
                </div>
            </div>
        </div>
        <!-- /footer -->
    </div>
</body>

</html>