<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Demo</h1>
    <p><a href="trangchu">trangchu</a></p>
    <p><a href="giaiphap">giaiphap</a></p>
    <p><a href="congnghe">congnghe</a></p>
    <p><a href="chodatmaychu">chodatmaychu</a></p>
    <p><a href="luutrudammay">luutrudammay</a></p>
    <p><a href="lienhe">lienhe</a></p>
    <p><a href="maychuluutru">maychuluutru</a></p>
    
</body>
</html>